#mySidebar a h3:hover {
    color: #2d4501; /* <-- choose whatever color you want */
    transition: color 0.3s ease;
  }

.filter-buttons {
    margin-bottom: 20px;
  }
  
  .filter-buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-buttons button:hover {
    background-color: #ddd;
  }
  
  .filter-buttons button.active {
    background-color: #666;
    color: white;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 10px; /* base row height */
    grid-auto-flow: dense;
    gap: 12px;
  }
  
  .gallery img {
    width: 100%;
    display: block;
    transition: opacity 0.3s ease;
  }
  
  /* Hover transparency */
  .gallery img:hover {
    opacity: 0.8;
  }
  
  /* Hidden filtered images collapse space */
  .gallery img.hidden {
    display: none;
  }